*{
    margin: 0;
    padding: 0;
    outline: none;
}

body{
    font-size: 14px;
    line-height: 1.5;
    font-family: "맑은고딕";
    color: #333;
    background-color: #fff;
}

.container{
    display: table;
    table-layout: fixed;
    width: 580px;
    height: auto;
    padding: 0;
    margin: 0 auto;
}

.container .inner{
    display: table-cell;
    padding: 50px 0;
    vertical-align: middle;
}

.inner .doc_header{
    margin: 0 0 40px 0;
}

.doc_header h1 {
    margin: 0 auto;
    text-align: center;
}

.doc_main{
    padding: 0 69px;
    border: 1px solid #ccc;
}

.doc_main .content_main{
    padding: 55px 0 50px;
}

.content_main .content_txt{
    display: block;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    text-decoration: double;
    color: #191919;
}

.content_main form{
    display:block;
}

.telephone_submit{
    position: relative;
    padding-bottom: 3px;
}

footer .service_info{
    display: inline-block;
    vertical-align: top;
}