*{
    margin: 0;
    padding: 0;
}

header{
    vertical-align: middle;
    padding: 59px 69px 49px 69px;
    margin-bottom: 40px;
}

.main_banner{
    display: flex;
    padding: 59px 69px 49px 69px;
}

header .wrap_banner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 40px 200px 40px 200px;
    padding: 5px 10px 5px 10px;
}

.info_banner{   
    padding: 16px 9px 20px;
}

header .wrap_form{
    border: 1px solid #ccc;
    padding: 20px 40px 20px 40px;
    font-size: 1.5em;
    color: #252525;
    font-weight: 400;
}

.wrap_form .login{
    width: 300px;
    height: 50px;
    border:none;
    border-bottom: 1px solid #ccc;
    font-size: 15px;
}

.wrap_form .password{
    margin-top: 5px;
    width: 300px;
    height: 50px;
    border:none;
    border-bottom: 1px solid #ccc;
    font-size: 15px;
}

.wrap_form .button_yellow{
    width: 300px;
    height: 60px;
    background-color: yellow;
}

.wrap_form .button_yellow > p{
    font-size: 15px;
}

.wrap_form .button_QR{
    width: 300px;
    height: 60px;
}

.wrap_form .bot_mn{
    font-size: 12px;
}

.wrap_form .bot_mn > a{
    text-decoration: none;
}

footer{
    margin: 5px 0px 0px;
    font-size: 0.8em;
    font-weight: 500;
    border-top: 1px solid #ccc;
    margin-top: 10px;
}

footer .sub_mn{
    display: block;
    letter-spacing: -0.48px;
    text-align: center;
}

footer a{
    text-decoration: none;
}

footer .sub_mn .sub_mn_1{
    display:inline-block;
    line-height: 20px;
    padding: 0px 10px 0px 10px;
}
footer .sub_mn .sub_mn_2{
    display:inline-block;
    line-height: 20px;
    padding: 0px 10px 0px 10px;
}
footer .sub_mn .sub_mn_3{
    display:inline-block;
    line-height: 20px;
    padding: 0px 10px 0px 10px;
}
footer .sub_mn .sub_mn_4{
    display:inline-block;
    line-height: 20px;
    padding: 0px 10px 0px 10px;
}
footer .sub_mn .sub_mn_5{
    display:inline-block;
    line-height: 20px;
    padding: 0px 10px 0px 10px;
}
footer .sub_mn .lan{
    display:block;
}

footer .txt_copyright{
    margin: 0 auto;
    text-align: center;
}